<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập </title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="./assets/font/themify-icons/themify-icons.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <div id="wrapper">
        {{>header}}


        <div id="slider">
            <div class="mainContent">
                <div class="layout-account">
                    <div class="row">
                        <div class="createAccount-heading">
                            <h1 class="heading">Đăng nhập</h1>
                            <!-- <span class="line"></span> -->
                        </div>

                        <div class="information">
                            <div class="userbox">
                                <form action="/loginProcessing" method="post">
                                    <div class="form">
                                        <input type="email" id="email" name="email" placeholder="Email"><br>
                                    </div>

                                    <div class="form">
                                        <input type="password" id="password" name="password" placeholder="Mật khẩu" size="30"><br>
                                        <p>
                                            
                                            <button class="resetPass">Quên mật khẩu ?</button>

                                        </p>
                                    </div>


                                    <div class="btnScb">
                                        <input class="btn" type="submit" value="Đăng nhập">
                                    </div>

                                    <div class="backHome">
                                        <a href="">
                                        <i class="ti-arrow-left"></i>
                                        Quay lại trang chủ
                                        </a>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {{>footer}}

    </div>


</body>

<script>
    var alert_m = "{{ alert_m }}"
    if (alert_m != ""){
        swal("Lỗi đăng nhập", alert_m, "error");
    }
    
</script>

</html>