<div id="footer">
            <div class="box">
                <div class="slogan">
                    <h3>Luôn luôn lắng nghe bạn!</h3>
                </div>
                <p>Chúng tôi luôn trân trọng và mong đợi nhận được mọi ý kiến đóng góp từ khách hàng để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn nữa.</p>
            </div>
            <div class="box">
                <h3>KHÁM PHÁ CỬA HÀNG</h3>
                <ul class="quick-menu">
                    <div class="item">
                        <a href="">Áo T-shirt</a>
                    </div>
                    <div class="item">
                        <a href="">Áo polo</a>
                    </div>
                    <div class="item">
                        <a href="">Áo sơ mi</a>
                    </div>
                    <div class="item">
                        <a href="">Quần</a>
                    </div>
                </ul>
            </div>
            <div class="box">
                <h3>DỊCH VỤ KHÁCH HÀNG</h3>
                <ul class="quick-menu">
                    <div class="item">
                        <a href="">Hỏi đáp-FAQs</a>
                    </div>
                    <div class="item">
                        <a href="">Khách hàng hài lòng 100%</a>
                    </div>
                    <div class="item">
                        <a href="">Chính sách giao hàng</a>
                    </div>
                    <div class="item">
                        <a href="">Chính sách khuyến mãi</a>
                    </div>
                </ul>
            </div>
            <div class="box">
                <h3>LIÊN HỆ</h3>
                <form action="">
                    <input type="text" name="" id="" placeholder="Địa chỉ email">
                    <button>Nhận tin</button>
                </form>
            </div>
        </div>