<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm từ điển</title>
    <link rel="stylesheet" href="/css/findWord.css">
</head>

<body>
    <a href="/all-list">Trang dành cho quản trị</a>
    <form class="container" method="get" id="form_submit">
        <h1>
            Tra cứu từ điển
        </h1>
        <div class="form-group form-group-2">
            <button type="button" onclick="change_langue()" id="translate" class="btn btn-primary">Tiếng Việt <=> Ngoại Ngữ</button>
        </div>
        <div class="form-group">
            <input type="hidden" value="1" id="type_trans">
            <textarea type="text" id="" name="text1" class="form-control" placeholder="Từ gì đó ở đây !!!"></textarea>
            <label for=""><=></label>
            <div class="form-control-2">

                <div class="form-group"  id="list-languge">
                    <select class="form-control" id="list-language" name="language">
                        {{#each languages}}
                            <option value="{{this._id}}">Tiếng {{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <textarea type="text" id="" name="text2" class="form-control" readonly></textarea>
                
                <p id="description">
                    <b>Chú ý:</b> Nếu bạn muốn tra cứu từ điển tiếng Việt - Ngoại ngữ, bạn hãy nhập từ tiếng Việt vào ô trên cùng, sau đó nhấn nút "Tiếng Việt <=> Ngoại Ngữ" để chuyển sang chế độ tra cứu từ điển tiếng Việt - Ngoại ngữ.
                </p>

                <ol id="list-same" type="none">
                </ol>
            </div>
        </div>
        <div class="form-group form-group-2">
            <button id="translate" class="btn btn-primary">Tra Cứu</button>
        </div>
    </form>
</body>
<!-- jquery import -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let language = 1;
    function change_langue(){
        let type = "Ngoại Ngữ <=> Tiếng Việt";
        let type_trans = document.getElementById("type_trans");
        if (type_trans.value == 1){
            type_trans.value = 2;
        }else{
            type_trans.value = 1;
            type = "Tiếng Việt <=> Ngoại Ngữ";
        }
        document.getElementById("translate").innerHTML = type;
    }
    document.getElementById('list-language').addEventListener('change', function() {
        language = this.value;
    });
    document.getElementById("form_submit").addEventListener("submit", function(e){
        e.preventDefault();
        let text = document.getElementsByName("text1")[0].value;
        let type  = document.getElementById("type_trans").value;

        $.ajax({
            type: "GET",
            url: "/find",
            dataType: "json",
            data: {
                type: type,
                word: text,
                language: language,
            },
            success: function(response){
                if (response.length == 0){
                    alert("Không tìm thấy từ này, hãy tạo mới ngay!");
                }else{
                    document.getElementsByName("text2")[0].value = response[0].word;
                    document.getElementById("list-same").innerHTML = "<h3>Từ cùng nghĩa</h3>";
                    for (let i = 1; i < response.length; i++){
                        document.getElementById("list-same").innerHTML += "<li>" + response[i].word + "</li>";
                    }
                    if (response[0].description != null){
                        document.getElementById("description").innerHTML = "Chú Thích: " + response[0].description;
                    }else{
                        document.getElementById("description").innerHTML = "Chú Thích";
                    }
                }
            }
        })
    })
</script>
</html>