<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    .container h1{
        font-size: 3rem;
        color: #333;
    }
    .form-group{
        width: 800px;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
    }
    .form-control {
        width: 40%;
        margin: 0 auto;
        display: block;
        padding: 0.5rem;
        font-size: 18px;
        outline: none;
        height: 100px;
        /* textarea resize only height */
        resize: vertical;
    }
    .form-control2{
        width: 30%;
    }
    .btn{
        padding: 0.5rem 1rem;
        font-size: 18px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn-primary{
        background-color: rgb(51, 51, 51);
        color: #fff;
    }
</style>

<body>
    <a href="/all-list">Trang dành cho quản trị</a>
    <form class="container" method="get" id="form_submit">
        <h1>
            Google translate example
        </h1>
        <div class="form-group">
            <button type="button" onclick="change_langue()" id="translate" class="btn btn-primary">Vietnamese <=> English</button>
        </div>
        <div class="form-group">
            <input type="hidden" value="1" id="type_trans">
            <textarea type="text" id="" name="text1" class="form-control"></textarea>
            <=>
            <textarea type="text" id="" name="text2" class="form-control form-control2" readonly></textarea>
            <ul id="list-same" type="none">

            </ul>
        </div>
        <p id="description"></p>
        <div class="form-group">
            <button id="translate" class="btn btn-primary">Translate</button>
        </div>
    </form>
</body>
<!-- jquery import -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function change_langue(){
        let type = "English <=> Vietnamese";
        let type_trans = document.getElementById("type_trans");
        if (type_trans.value == 1){
            type_trans.value = 2;
        }else{
            type_trans.value = 1;
            type = "Vietnamese <=> English";
        }
        document.getElementById("translate").innerHTML = type;
    }
    document.getElementById("form_submit").addEventListener("submit", function(e){
        e.preventDefault();
        let text = document.getElementsByName("text1")[0].value;
        let type  = document.getElementById("type_trans").value;

        $.ajax({
            type: "GET",
            url: "/find",
            dataType: "json",
            data: {
                type: type,
                word: text
            },
            success: function(response){
                if (response.length == 0){
                    alert("Không tìm thấy từ này, hãy tạo mới ngay!");
                }else{
                    document.getElementsByName("text2")[0].value = response[0].word;
                    document.getElementById("list-same").innerHTML = "<h3>Từ cùng nghĩa</h3>";
                    for (let i = 1; i < response.length; i++){
                        document.getElementById("list-same").innerHTML += "<li>" + response[i].word + "</li>";
                    }
                    if (response[0].description != null){
                        document.getElementById("description").innerHTML = "Chú Thích: " + response[0].description;
                    }else{
                        document.getElementById("description").innerHTML = "Chú Thích";
                    }
                }
            }
        })
    })
</script>
</html>