<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm từ điển</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <a href="/all-list">
        <button class="btn-back"><<< Danh sách từ điển</button>
    </a>
    <form class="container" method="post" action="./save">
        <h1>
            Add dictionary translate
        </h1>
        <!-- <div class="form-group">
            <button type="button" id="translate" class="btn btn-primary">Vietnamese <=> English</button>
        </div> -->
        <div class="form-group">
            <input type="hidden" name="type" value="1">
            <input type="text" name="text1" class="form-control" style="height: 34px" placeholder="Tiếng việt">
            <=>
            <input type="text" name="text2" class="form-control" style="height: 34px" placeholder="Tiếng Nước ngoài">
        </div>
        <div class="form-group">
            <select class="form-control" name="language" id="">
                {{!-- each language --}}
                {{#each languages}}
                    <option value="{{this._id}}">Tiếng {{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <textarea type="text" id="" name="description" class="form-control" placeholder="Mô tả ngôn ngữ"></textarea>
        </div>
        <div class="form-group">
            <button id="translate" class="btn btn-primary">Translate</button>
        </div>
    </form>
</body>
</html>