<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/store.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        {{>header}}
         <div id="slider">
            <div class="mainContent">
                <h1>Cửa hàng</h1>

                <div class="store-list">
                    <div class="store">
                        <img src="https://bumshop.com.vn/wp-content/uploads/2021/08/cua-hang-Now-Saigon-local-brand-quan-600x400.jpg"
                            alt="">
                        <h1>Hà Nội</h1>
                        <a href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+H%E1%BB%8Dc+Phenikaa/@20.9610952,105.7450168,17z/data=!3m1!4b1!4m5!3m4!1s0x313452efff394ce3:0x391a39d4325be464!8m2!3d20.9610902!4d105.7472055">
                            <p>Yên Nghĩa, Hà Đông, Hà Nội</p>
                        </a>                   
                    </div>

                    <div class="store">
                        <img src="https://cdn3.dhht.vn/wp-content/uploads/2020/12/Local-Brand-la-gi-5-noi-ban-do-Local-Brand-noi-tieng-nhat-13.jpg"
                            alt="">
                        <h1>Hà Nam</h1>
                        <a href="https://goo.gl/maps/gsNsJajMN28vnREQ6" target="_blank">
                            <p>Phủ lý, Hà Nam</p>
                        </a>

                    </div>

                    <div class="store">
                        <img src="https://bizweb.dktcdn.net/100/287/440/files/cac-local-brand-da-nang-dep.jpg?v=1619602174052"
                            alt="">
                        <h1>Nghệ An</h1>
                        <a href="https://goo.gl/maps/JF7TS4q87sGcb9sT8" target="_blank">
                            <p>Đô Lương, Nghệ An</p>
                        </a>
                    </div>

                    <div class="store">
                        <img src="https://mcdn.coolmate.me/image/May2021/tong-hop-local-brand-gia-re-ma-van-chat-luong-1_71.jpg"
                            alt="">
                        <h1>Hưng Yên</h1>
                        <a href="https://www.google.com/maps/place/Ti%C3%AAn+L%E1%BB%AF,+H%C6%B0ng+Y%C3%AAn,+Vi%E1%BB%87t+Nam/@20.6735145,106.0638395,12z/data=!3m1!4b1!4m5!3m4!1s0x3135c0481befec0d:0xdf299ab9e4751a2a!8m2!3d20.6919516!4d106.1228099">
                            <p>Tiên Lữ, Hưng Yên</p>
                        </a>
                    </div>
                     <div class="store">
                        <img src="https://simg.zalopay.com.vn/zlp-website/assets/thuong_hieu_ssstutter_cdf9dd7445.jpg"
                            alt="">
                        <h1>Hà Nội</h1>                    
                        <a href="https://www.google.com/maps/place/Thanh+Tr%C3%AC,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@20.9427863,105.843489,14z/data=!4m5!3m4!1s0x3135adbf0d54ec5f:0x85ee3da9ab724675!8m2!3d20.9344418!4d105.8462288">
                            <p>Thanh Trì, Hà Nội</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        {{>footer}}

    </div>
</body>
</html>