<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/view.css">
    <title>Document</title>
</head>
<body>

    <div id="wrapper">
         {{>header }}
         <div id="mainContent">
            <div id="content-header">
                <ul class="nav">
                    <li><a href="">Trang chủ</a> </li>
                    <span class="space">/</span>
                    <li><a href="" style="opacity: 0.6;">Giới thiệu</a> </li>
                </ul>
            </div>

            <div id="content-body">
                <div class="about-us">
                    <h1>Giới thiệu về chúng tôi</h1>
                    <p>Chúng mình xuất hiện để đem tới mọi người một chất lượng áo tốt nhất, với giá thành hấp dẫn nhất để đưa Outerity đến với tất cả lứa tuổi và khắp mọi vùng miền đất nước</p>
                    <p class="desc">*Trang web là bài tập lớn của môn học*</p>
                </div>
            </div>
        </div>
       {{>footer}}
    </div>
</body>
</html>